.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 98vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calculator {
    display: grid;
    grid-template-rows: 8vw 32vw;
    background: linear-gradient(45deg, rgba(80,80,80,1) 0%, rgba(98,92,112,1) 50%, rgba(128,103,176,1) 100%);
    border-radius: 0.5vw;
    box-shadow: 0px 4px 10px 3px rgba(0,0,0,0.4);
    padding: 1vw;
}

.input {
    font-weight: 800;
    font-size: 3vw;
    position: relative;
    background: rgba(128,103,176,1);
    border-radius: 0.5vw;
    border: 1px solid rgba(80,80,80,1);
    margin: 0.25vw;
}

.field {
    text-align: right;
    position: absolute;
    padding: 1vw;
    bottom: 0;
    right: 0;
}

.numpad {
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw;
    grid-template-rows: 8vw 8vw 8vw 8vw;
    text-align: center;
    font-weight: 800;
    font-size: 6vw;
}

.button {
    border: 1px solid rgba(80,80,80,1);
    border-radius: 0.5vw;
    background: linear-gradient(135deg, rgba(80,80,80,1) 0%, rgba(98,92,112,1) 50%, rgba(128,103,176,1) 100%);
    margin: 0.25vw;
}