.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calculator {
    display: grid;
    grid-template-rows: 6rem 30rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px 3px rgba(0,0,0,0.4);
    padding: 0.5rem;
}

#input {
    font-weight: 800;
    font-size: 1.5rem;
    position: relative;
    background: rgb(222, 222, 222);
    border-radius: 0.5vw;
    border: 1px solid rgba(200,200,200,1);
    margin: 0.25rem;
    overflow: hidden;
}

#history-wrapper:before {
    content:'';
    top:0;
    bottom:0;
    left:0.2rem;
    width:25%;
    background: linear-gradient(270deg, transparent, rgb(200,200,200));
    position:absolute;
    z-index: 10;
    pointer-events:none;
  }

#history-wrapper {
    font-weight: 600;
    font-size: 1.2rem;
    background: rgb(200,200,200);
    text-align: right;
    padding: 0.2rem;
    width: 100%;
    min-height: 1.6rem;
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
}

#history {
    float: right;
}

#field {
    text-align: right;
    position: absolute;
    padding: 1rem;
    bottom: 0;
    right: 0;
}

.numpad {
    display: grid;
    grid-template-columns: 6rem 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem 6rem 6rem;
    text-align: center;
    font-weight: 800;
    font-size: 4rem;
}

.button {
    border: 1px solid #cacaca;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #fafafa 5%, #eaeaea 100%);
    margin: 0.25rem;
    cursor: pointer;
    user-select: none;
}

.button:hover {
	background: linear-gradient(to bottom, #eaeaea 5%, #dadada 100%);
	background-color:#f6f6f6;
}

.button:active {
	position: relative;
    top: 1px;
}

#reset {
    display: inline;
    grid-column: -5 / -1;
    background: linear-gradient(to bottom, #ffdada 5%, #ffcaca 100%);
}